mixin statusButton(Status)
    if Status
        button(class="active-status status-button") Active
    else
        button(class="inactive-status status-button") Inactive


block append variables
    - const data = require('../../asset/data/users.json')
    - const usersMenu = require('../../asset/data/users-menu.json')


table.customers-table-main
    thead
        tr
            each name in usersMenu
                th=name
    each item in data
        tr
            td=item['Customer Name']
            td=item.Company
            td=item['Phone Number']
            td=item.Email
            td=item.Country
            td
                +statusButton(item.Status)

table.customers-table-phone
    each user in data
        each value, key in user
            if key === 'Status'
                tr
                    th=key
                    td
                        +statusButton(value)
            else
                tr
                    th=key
                    td=value

