mixin statusButton(status)
    if status
        button(class="active-status status-button") Active
    else
        button(class="inactive-status status-button") Inactive

block append variables
    - const data = require('../../asset/data/users.json')


table
    tr
        th(style='width:19.7%') Customer Name
        th(style='width:15%') Company
        th(style='width:17.5%') Phone Number
        th(style='width:24%') Email
        th(style='width:16%') Country
        th Status
    each item in data
        tr
            td=item.name
            td=item.company
            td=item.phone
            td=item.email
            td=item.country
            td
                +statusButton(item.status)
