mixin statusButton(status)
    if status
        button(class="active-status status-button") Active
    else
        button(class="inactive-status status-button") Inactive

block append variables
    - const data = require('../../asset/data/users.json')
    - const usersMenu = require('../../asset/data/users-menu.json')

table
    each name in usersMenu
        th=name
    each item in data
        tr
            td=item.name
            td=item.company
            td=item.phone
            td=item.email
            td=item.country
            td
                +statusButton(item.status)
